@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
  --main-background: #fafafa;
}
#root,
.App {
  width: 100%;
  min-height: inherit;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-background) !important;
}

main {
  width: 80%;
  margin: 15vh auto;
  min-height: inherit;
}

/* main-cards */
.main-card {
  background-color: #fff;
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 20px;
}

.main-card .username {
  padding: 16px;
  font-weight: 700;
  color: #262626;
  display: flex;
  align-items: center;
}
.main-card .username p {
  padding-left: 12px;
}

.main-card .username img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.main-card .username .extra{
  margin-left:auto ;


}
.main-card .username .extra:hover{
  cursor:pointer;
  

}

.main-card .postImage {
  width: 100%;
}

.main-card .status {
  border-bottom: 1px solid #f2f2f2;
  padding: 16px;
}

.main-card .status .readmore{
  color:darkgrey;
  padding-left:5px;
}
.main-card .status .readmore:hover{
  cursor:pointer;
}


.main-card b {
  color: #262626;

  padding-right: 10px;
}
.main-card .date {
  margin-top: 5px;
  color: lightgray;
}

.main-card .commentInput {
  display: flex;
  align-items: center;
}
.main-card .commentInput textarea {
  resize: none;
  border: none;
  margin: 16px;
  width: calc(100% - 88px);
  height: 18px;
}
.main-card .commentInput .post-button{
  color:#B3DFFC;

}

.main-card .commentInput textarea:focus {
  outline:none !important;

}

.main-card .commentInput img {
  width:32px;
  padding: 9px 8px;
}
