@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
  --main-background: #fafafa;
  --secondary-background: #fff;
}
#root,
.App {
  width: 100%;
  min-height: inherit;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-background) !important;
}

iframe{
  width:100%;
  min-height:300px;
}

a{
  text-decoration:none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

main {
  width: 90%;
  margin: 15vh auto;
  min-height: inherit;
  max-width: 1050px;
}

/* navbar */
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: fixed;
  top: 0;

  background-color: var(--secondary-background);
  width: 100vw;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 20px;
}

nav .title {
  font-size: clamp(1rem, 1vw + 1rem, 3rem) !important;
  font-family: "Courgette", cursive !important;
  width: 200px;
}

nav .menu {
  float: right;
  margin-top: 5px;
  margin-right: 80px;
  font-size: 25px;
  color: grey;
}
nav .menu > * {
  margin: 5px;
}

nav .menu > :hover,nav .title:hover {
  cursor: pointer;
  color: black;
}

/* homePage */
.home-page .main-card-container {
  max-width: 700px;
}

.home-page {
  gap: 20px;
  flex-direction: row;
}

.home-page > * {
  flex-grow: 1;
  margin: 0 auto;
}
.home-page .sidebar {
  background-color: var(--secondary-background);
  min-width: 150px;
  max-width: 700px;
  border: 1px solid rgb(230, 230, 230);
}

.sidebar h3 {
  padding: 0px 10px;
}
.side-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.side-card {
  padding: 16px;
  min-width: 100px;
  font-weight: 700;
  color: #262626;
  display: flex;
  align-items: center;
}
.side-card p {
  padding-left: 12px;
}

.side-card img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* main-cards ,show-page */
.main-card {
  background-color: var(--secondary-background);
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 20px;
}

.show-page .username,
.main-card .username {
  padding: 16px;
  font-weight: 700;
  color: #262626;
  display: flex;
  align-items: center;
}
.show-page .username p,
.main-card .username p {
  padding-left: 12px;
}

.show-page .username img,
.main-card .username img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.show-page .username .extra,
.main-card .username .extra {
  margin-left: auto;
}
.show-page .username .extra:hover,
.main-card .username .extra:hover {
  cursor: pointer;
}

.postImage {
  width: 100%;
}

.show-page .status,
.main-card .status {
  border-bottom: 1px solid #f2f2f2;
  padding: 16px;
}

.like{
  font-size:40px;
  margin:5px 10px;
}

.show-page .status .readmore,
.main-card .status .readmore {
  color: darkgrey;
  padding-left: 5px;
}
.show-page .status .readmore:hover,
.main-card .status .readmore:hover {
  cursor: pointer;
  color:black;
}

 b {
  color: #262626;

  padding-right: 10px;
}
 .date {
  margin-top: 5px;
  color: lightgray;
}
.show-page .commentInput,
.main-card .commentInput {
  display: flex;
  align-items: center;
}
.show-page .commentInput textarea,
.main-card .commentInput textarea {
  resize: none;
  border: none;
  margin: 16px;
  width: calc(100% - 88px);
  height: 18px;
}
.show-page .commentInput .post-button,
.main-card .commentInput .post-button {
  color: #b3dffc;
}

.show-page .commentInput .post-button:hover,
.main-card .commentInput .post-button:hover {
  color: #11217e;
  cursor:pointer;
}
.show-page .commentInput textarea:focus,
.main-card .commentInput textarea:focus {
  outline: none !important;
}



.show-page .commentInput img
.main-card .commentInput img {
  width: 32px;
  padding: 9px 8px;
}

.show-page > * {
  background-color: var(--secondary-background);
  min-height: 80vh;
}

.show-page .left {
  flex-grow: 2;
  max-width:500px; 
}
.show-page .right {
  flex-grow: 1;
  width:30vw;
  min-width: 300px;
  max-width:500px;
}

.gallery-container{
  gap:10px;
}

.gallery-container>*{
  width:300px;
  flex-grow:1;


}